/* .afterBoxOrder {
    
} */

.boxOrders {
    width: 90%;
    margin-left: 5%;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
}

.activeOrdersTitle {
    width: 90%;
    margin-left: 5%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.subBoxOrders {
    display: flex;
    flex-wrap: wrap;
}